*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.div__container {
  width: 700px;
  margin: 0 auto;
}

.header__title {
  background-color: #DDD;
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
}

.div__image--show {
  height: 75%;
}

.div__image--show img {
  width: 100%;
}

.div__images-miniatures {
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
  padding: 15px 250px;
}

.img__miniature {
  height: 15px;
  width: 15px;
  opacity: 0.5;
  cursor: pointer;
  background-color: rgb(175, 163, 163);
  border-radius: 100%;
}

.active {
  opacity: 1;
  background-color: #717171;
}

.span__control--next {
  color: rgb(46, 40, 40);
  font-size: 50px;
  font-weight: bold;
  cursor: pointer;
}

.span__control--before {
  color: rgb(46, 40, 40);
  font-size: 50px;
  font-weight: bold;
  cursor: pointer;
}

.div__controls--next {
  position: absolute;
  margin-top: 200px;
  margin-left: 700px;
  padding: 10px 10px;
  border-radius: 5px;
}

.span__control--next:hover{
  background-color: grey;
  opacity: 0.3;
}

.div__controls--before {
  position: absolute;
  margin-top: 200px;
  margin-left: -42px;
  border-radius: 5px;
}

.span__control--before:hover {
  background-color: grey;
  opacity: 0.3;
}

.span_counter {
  position: relative;
  color: #FFF;
  top: 40px;
  margin-left: 10px;
  font-size: 20px;
  font-weight: bold;
}