*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card__container {
  background-color: rgb(141, 141, 141);
  width: 700px;
  margin: 0 auto;
}

.header__title {
  background-color: #DDD;
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
}

.card-image {
  height: 75%;
}

.card-image img {
  width: 100%;
}

.card-miniatures {
  height: 20%;
  display: flex;
  justify-content: space-evenly;

}

.card-miniatures__miniature {
  height: 120px;
  width: 120px;
  opacity: 0.5;
  cursor: pointer;
}

.active{
  opacity: 1;
}